html,
body {
  margin: 0;
  padding: 0;
  user-select: none;
  touch-action: none;
}

canvas {
  display: block;
}

:groot {
  --tp-base-background-color: hsla(0, 0%, 0%, 1.00);
  --tp-base-shadow-color: hsla(0, 0%, 0%, 0.2);
  --tp-button-background-color: hsla(0, 0%, 70%, 1.00);
  --tp-button-background-color-active: hsla(0, 0%, 85%, 1);
  --tp-button-background-color-focus: hsla(0, 0%, 80%, 1.00);
  --tp-button-background-color-hover: hsla(0, 0%, 75%, 1.00);
  --tp-button-foreground-color: hsla(0, 0%, 0%, 1.00);
  --tp-container-background-color: hsla(0, 0%, 10%, 1.00);
  --tp-container-background-color-active: hsla(0, 0%, 25%, 1.00);
  --tp-container-background-color-focus: hsla(0, 0%, 20%, 1.00);
  --tp-container-background-color-hover: hsla(0, 0%, 15%, 1.00);
  --tp-container-foreground-color: hsla(0, 0%, 50%, 1.00);
  --tp-groove-foreground-color: hsla(0, 0%, 10%, 1.00);
  --tp-input-background-color: hsla(0, 0%, 10%, 1.00);
  --tp-input-background-color-active: hsla(0, 0%, 25%, 1.00);
  --tp-input-background-color-focus: hsla(0, 0%, 20%, 1.00);
  --tp-input-background-color-hover: hsla(0, 0%, 15%, 1.00);
  --tp-input-foreground-color: hsla(0, 0%, 70%, 1.00);
  --tp-label-foreground-color: hsla(0, 0%, 50%, 1.00);
  --tp-monitor-background-color: hsla(0, 0%, 8%, 1.00);
  --tp-monitor-foreground-color: hsla(0, 0%, 48%, 1.00);
}
.tp-dfwv, .tp-lblv, .tp-inpv, .tp-txtv, .tp-cnv, .tp-v, .tp-rotv_t, .tp-tbiv_t {
  font-family: sans-serif;
  font-size: 8pt;
}

.play-button {
  width: 80px;
  height: 80px;
  background-color: rgba(72, 72, 72, 0.8);
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease, transform 0.2s ease;
}

.play-button:hover {
  background-color: rgba(72, 64, 64, 1);
  transform: scale(1.1);
}

.play-button::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 20px solid white;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  margin-left: 5px;
}

